button {
  background: #13212b;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .button-lead {
    display: none;
  }
}

@media (min-width: 1024px) {
  .mat-card {
    min-height: 200px;
  }
  .fab-button-lead {
    display: none;
  }
  .container {
    margin-top: 30px;
  }
}

mat-card-title {
  text-align: center;
  font-size: 20px;
  color: #13212B;
}

mat-card {
  margin: 10px;
  min-width: 25%;
}
.mat-card-cp {
  background: #877895;
}

.mat-card-dc {
  background: #BA97B5;
}

.mat-card-ra {
  background: #EEB7D0;
}

mat-card-content {
  margin-top: 20px;
}

.lead-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  border-radius: 4px;
  color: #13212B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin: 10px;
}

.fab-button-lead {
  right: 20px;
  bottom: 10px;
  left: auto;
  position: absolute;
  background: #13212B;
  color: white;
}
.card-scroll {
  height: 200px;
}





.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.lead-list {
  /* border: solid 1px #ccc; */
  /* min-height: 60px; */
  min-height: 200px;
  /* background: white; */
  /* background: #ba97b5; */
  /* border-radius: 4px; */
  overflow: hidden;
  display: block;
}

.example-box {
  /* padding: 20px 10px; */
  padding: 10px;
  margin: 10px;
  /* border-bottom: solid 1px #ccc; */
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
