
 .image-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

form {
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  margin-bottom: 20px;
  background: #ffdfe2;
  color: #ea4849;
  border: 1px;
  border-style: solid;
  border-color: #ea4849;
}

.errorMessage {
  font-size: 12px;
  display: inline-flex;
  vertical-align: middle;
}

.errorIcon {
  margin-right: 2px;
}

.signupButton {
  width: 100%;
  background: #13212b;
  color: white;
}

.passwordWrapper {
  display: inline-flex;
}

.mat-form-field {
  display: block;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #13212b;
  font-weight: bold;
}

a:link, a:visited {
  color: #13212b;
  text-decoration: none;
}

.alreadyRegistered {
  text-align: center;
  margin-top: 10px;
}


@media screen and (min-width: 320px) {
  form {
    width: 250px;
  }

  .title {

    margin: 25px;
    font-size: 20px;
  }
}

@media screen and (min-width: 540px) {
  form {
    width: 300px;
  }
}

@media screen and (max-width: 540px) {
  .image-responsive {
    max-width: 90%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .image-responsive {
    margin-top: 30px;
    max-width: 50%;
  }

  .title {
    margin: 50px;
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  form {
    width: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .image-responsive {
    max-width: 35%;
  }

  form {
    width: 300px;
  }
}
