form {
  margin-left: auto;
  margin-right: auto;
}
.mat-form-field {
  display: block;
}

mat-card {
  border: 1px;
  border-style: solid;
  border-color: #ececec;
  color: #686868;
}

.mat-card-error {
  border-color: red;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked {
  background: #686868;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: #686868 !important; /* Red background for example */
}

.mat-checkbox, .mat-list-option {
  font-size: 14px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #13212b;
  font-weight: bold;
}

/* .mat-list-option {
  height: 30px;
}

.mat-pseudo-checkbox-checked {
  background: #13212b;;
} */

mat-card-title {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

.signupButton {
  width: 100%;
  background: #13212b;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) {
  form {
    width: 250px;
  }

  .title {
    margin: 25px;
    font-size: 20px;
  }
}

@media screen and (min-width: 540px) {
  form {
    width: 300px;
  }
}



@media screen and (min-width: 768px) {
  form {
    width: 350px;
  }

  .title {
    margin: 50px;
    font-size: 30px;
  }
}

@media screen and (min-width: 1280px) {
  form {
    width: 300px;
  }
}
